main{
    max-width: 90%;
    min-width: 200px;
}

body{
    background-color: aquamarine;
}

h1{

}

/* encadrement */
.talk{
    background-color: rgb(114, 163, 236);
    border-style:groove;
    border-color: bisque;
}

.talk a{
    color: #000;
    text-decoration: none;
}

/* Imges */
.photo{
    width: 160px;
}

.logo{
    height: 30px;
    margin: auto; 
}

.logoUnit{
    display: inline-block;
    width: 130px;
    margin: auto; 
    text-align: center;
}

.logoList{
    display: inline-block;
    width: 130px;

}