@media screen and (max-width: 1024px) {
    p {
        color: #333533;
        font-size: 1.2em;
    }

    header{
        max-width: 90%;
        margin:auto;
    }
    
    main{
       max-width: 90%;
       margin:auto;
    }
    
    footer{
        max-width: 90%;
        margin:auto;
    }
      
}

@media screen and (min-width: 1024px) {
    p {
        color: #333533;
        font-size: 1.2em;
    }

    header{
        max-width: 50%;
        margin:auto;
    }
    
    main{
       max-width: 50%;
       margin:auto;
    }
    
    footer{
        max-width: 50%;
        margin:auto;
    }
     
}

header, main, footer{
    background-color: #e8eddf;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

body{
    background-color: #cfdbd5;
}

p{
    text-align: justify;
    margin: 1em;
}

p.foot{
    width: 50%;
    text-align: right;
}

/* menu */
ul{
    display: inline-block;
}

li{
    display: inline-block;
    width: 150px;
}

li a:hover{
    background-color:#f5cb5c;
    color: #fff;
}

.printContact{
    margin: 0;
}

.contact{
    margin: auto;
    display: inline-block;  
}

/* encadrement */
.talk a{
    color: #000;
    text-decoration: none;
}

/* Imges */
.photo{
    width: 160px;
}

.logo{
    height: 30px;
    margin: auto; 
}

.logoUnit{
    display: inline-block;
    width: 130px;
    margin: auto; 
    text-align: center;
}

.logoList{
    display: inline-block;
    width: 130px;
}